.nav {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #0d6efd;
    padding: 0;
}

.nav-item {
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-item:hover>.nav-link {
    color: #0d6efd;
}

.nav-item.active {
    background-color: #0d6efd;
    color: #fff;
}

.nav-item.active:hover {
    background-color: #0d6efd;
    border: none;
}

.nav-item.active>.nav-link {
    color: #fff;
}

.nav-link {
    padding: 10px;
    color: #373e4a;
}

.nav-link:hover {
    border: none;
}

.nav-item:hover {
    background-color: transparent;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    background-color: #f8f8f9;
    padding: 8px 0;
    font-weight: 600;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.card-body-button {
    border: none;
    outline: none;
    background-color: #0abb87;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 6px 0;
}

.card-body-button:hover {
    opacity: 0.9;
}

.card-body-name {
    font-weight: 600;
}

.control-label {
    color: #646c9a;
    font-weight: 400;
    margin-right: 10px;
}

.form-control {
    display: block;
    font-size: 14px;
    height: 30px;
    width: 100%;
    box-shadow: inset 0 0 0;
    border: 1px solid #bfb8b8;
    outline: none;
    border-radius: 4px;
    padding: 6px 12px;
    &[readonly] {
        cursor: not-allowed;
        background-color: #eee;
    }
}

.save-btn {
    padding: 4px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #0d6efd;
    color: #fff;
}

.save-btn:hover {
    opacity: 0.9;
}

